In [12]:
i="Phone"
print(type (i))
i=5
print(type(i))
k=100
print(type(k))
j=2.5
print(type(j))
m=True
print(type(m))
print(i+k)

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
105

In [24]:
# self 
class item:
    def cal(self,x,y):
        
        return x*y
item1=item()
item1.name="phone"
item1.price=10        
item1.quantity=5
print(item1.cal(item1.price,item1.quantity))

50

In [12]:
class dog:
    # class attribute
    attr1="mammal"
    
   # Instance attribute
    def __init__ (self, name):
        self.name=name
 # driver code
# object instantiation
rodger=dog("akash")
tom =dog("tom")
x = dog('xyz')

# Acessing class attributes
print(x.name)
print("rodger is a {}".format(rodger.__class__.attr1))
print("tom is a {}".format(tom.__class__.attr1))
# Acessing instance attributes
print("name is {}".format(rodger.name))
print("name is {}".format(tom.name))
print(f'this name is: {x.name}')

xyz
rodger is a mammal
tom is a mammal
name is akash
name is tom
this name is: xyz

In [2]:
class dog:
    # class attribute
    attr1="mammal"
    attr2="parrot"
    
   # Instance attribute
    def __init__ (self, name):
        self.name=name
 # driver code
# object instantiation
rodger=dog("Rodger")
tom =dog("tom")

# Acessing class attributes
print("Rodger is a {}".format(rodger.attr1))
print("tom is a {}".format(tom.__class__.attr2))
# Acessing instance attributes
print("name is {}".format(rodger.name))
print("name is {}".format(tom.name))

<__main__.dog object at 0x0000021C46ECF150>
Rodger is a mammal
tom is a parrot
name is Rodger
name is tom

In [41]:
class Dog:
    # class attribute
    attr = "mammal"
    #Instance attribute

    def __init__(self, name):
        self.name = name

    def speak(self):
        print("Name is {}".format(self.name))

# Driver code
#object instantiation

Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

# Calling the speak method for each instance
Rodger.speak()
Tommy.speak()

Name is Rodger
Name is Tommy

In [28]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("bark bark")

    def doginfo(self):  
        print(self.name , " is " ,self.age , " years old")

# Creating instances of the Dog class
ozzy = Dog("ozzy", 2)
skippy = Dog("skippy", 12)
filou = Dog("filou", 21)

# Calling the 'doginfo' method for each instance
ozzy.bark()
ozzy.doginfo()
skippy.doginfo()
filou.doginfo()

bark bark
ozzy  is  2  years old
skippy  is  12  years old
filou  is  21  years old

In [12]:
# 1
class me:
    k="name"
    def __init__(self,name):
        self.name=name

ak=me("akash")
print(f" you name is: {ak.k}" )
print(f"my is name {ak.name}")

 you name is: name
my is name akash

In [7]:
#2
class ha:
    da="jay" # class attibutes
    def __init__(self,name,age):
        self.name=name  # insatance attitubes
        self.age=age
        print("hiiiii")

hay=ha("fa",56)
print(hay.name,hay.age)
print(hay.da,hay.age)

hiiiii
fa 56
jay 56

In [8]:
#3
class ya:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def get(self):
        print(f"you name is {self.name} is age {self.age}")

fa=ya("ak",56)
fa.get()

you name is ak is age 56

In [9]:
#4
class pr:
    def __init__(self,name,age,place):
        self.name=name
        self.age=age
        self.place=place

    def aa(self):
        print("bark abark ")

    def getname(self):
        print(f"{self.name} your age is {self.age} place you live{self.place}")

ak=pr("fa",23,"new york")
da=pr("da",43,"mumbai")
da.getname()
ak.getname()

da your age is 43place you livemumbai
fa your age is 23place you livenew york

In [1]:
class student:
    name="akash" # class attribute 
    
    # default constructor
    def __init__(self):
         pass
     # parameterize constructor
    def __init__(self,name,marks):
        self.name = name    # instance attribute
        
        self.marks = marks
        print(" you name is " + self.name+"   and marks is " + self.marks)
        
       
        
s1=input("enter  a you name ")
s2=input("enter a you marks ")

d1=student(s1,s2)
print (d1.name,d1.marks)
print(student.name)

enter  a you name  asd
enter a you marks  sd

 you name is asd   and marks is sd
asd sd
akash

In [48]:
class main:
    g="hi"
    def __init__(self,number1,number2):
        self.number1=number1
        self.number2=number2

    def method (self):
        print(f"adding number{self.number1+self.number2}")

n1=main(1,4)
n2=main(2,9)
n3 = main(59,76)
n1.method()
n2.method()
n3.method()


#print(n1.number1,n2.number2)

adding number5
adding number11
adding number135

In [53]:
class tea:
    def __init__(self,name,bus,age):
        self.name=name
        self.bus=bus
        self.age=age
    def me(self):
        print(f" your name is {self.name} bus is name {self.bus}you age is {self.age}")

tr=tea("ak","tata",78)
tr.me()

 your name is ak bus is name tatayou age is 78

In [58]:
class cal:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2

    def ya(self):
        print(f"adding number{self.num1+self.num2} multiple {self.num1*self.num2} ")

re=cal(12,45)
re.ya()

adding number57 multiple 540

In [9]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

p1=person("akash",21)
print(p1.name) 
print(p1.age)

akash
21

In [16]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"{self.name} ({self.age})"
p1=person("ak",67)
print(p1)

ak (67)

In [17]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def my(self):
        print(f" hello my name is {self.name} you are {self.age}")

p1=person("ak",45)
p1.my()

 hello my name is ak you are 45

In [19]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def my(self):
        print(f" hello my name is {self.name} you are {self.age}")
p1=person("ak",56)

p1.age=40 # modify object properties
print(p1.age,p1.name)

40 ak

In [12]:
class Person:
   def __init__(self, name, age):
       self.name = name
       self.age = age
   def my(self):
       print(f"Hello, my name is {self.name} and I am {self.age} years old.")

p1 = Person("ak", 56)
del p1.age  # deleting the age property from p1 object
print(f"p1's name: {p1.name}")  # This will still work because name is not deleted
print(f"p1's age: {p1.age}")  # This will raise an AttributeError since age is deleted
p1.my()  # This will print "Hello, my name is ak and I am ? years old." because the age is deleted

p1's name: ak

AttributeError: 'Person' object has no attribute 'age'

CLASEES AND OBJECTS

In [27]:
class employee:
    def __init__(self,id,name,salary):
        self.id=id
        self.name=name
        self.salary=salary
    def my(self):
        print("Employee details")
        print("----------------------")
        print(f"Enter Emp.ID :{self.id}")
        print(f"Enter Name :{self.name}")
        print(f"Enter salary :{self.salary}")
w1=int(input("enter a id "))
w2=input("enter a name")
w3=int(input("enter a salary"))
w4=employee(w1,w2,w3)
w4.my()

enter a id  5
enter a name aka
enter a salary 500

Employee details
----------------------
Enter Emp.ID :5
Enter Name :aka
Enter salary :500

In [30]:
class employee:
    def getdata(self):
        self.id= int(input("enter a id "))
        self.name=input("enter a name")
        self.salary=int(input("enter a salary"))
    def putdata(self):
        print("Employee details")
        print("----------------------")
        print(f"Enter Emp.ID :{self.id}")
        print(f"Enter Name :{self.name}")
        print(f"Enter salary :{self.salary}")
emp=employee()
emp.getdata()
emp.putdata()

enter a id  5
enter a name o
enter a salary 55

Employee details
----------------------
Enter Emp.ID :5
Enter Name :o
Enter salary :55

In [11]:
class employee:
    def getdata(self):
        self.id= int(input("enter a id "))
        self.name=input("enter a name")
        self.salary=int(input("enter a salary"))
    def putdata(self):
        
        print(f"Enter Emp.ID :{self.id}")
        print(f"Enter Name :{self.name}")
        print(f"Enter salary :{self.salary}")
        print("--------------------")
emp=employee()
emp1=employee()
emp.getdata()
emp1.getdata()
print("Employee details")
print("----------------------")
emp.putdata()
emp1.putdata()

enter a id  5
enter a name jk
enter a salary 56
enter a id  54
enter a name klj
enter a salary 89

Employee details
----------------------
Enter Emp.ID :5
Enter Name :jk
Enter salary :56
Enter Emp.ID :54
Enter Name :klj
Enter salary :89

In [9]:
class employee:
    def getdata(self):
        self.id= int(input("enter a id "))
        self.name=input("enter a name")
        self.salary=int(input("enter a salary"))
    def putdata(self):

        print(f" Emp.ID  Name   salary")
        print(f"  {self.id}  {self.name} {self.salary}")
        # print(f"Enter Name :{self.name}")
        # print(f"Enter salary :{self.salary}")
        # print("--------------------")
emp=employee()
emp1=employee()
emp.getdata()
emp1.getdata()
# print("Employee details")
# print("----------------------")
emp.putdata()
emp1.putdata()

enter a id  5
enter a name dg
enter a salary 5
enter a id  5
enter a name fd
enter a salary 5

 Emp.ID  Name   salary
  5  dg 5
 Emp.ID  Name   salary
  5  fd 5

PRACTICALS

In [4]:
class go:
    cl="good night"  # class attibutes
    
    def __init__(self,name):
        self.name=name  # instance attibutes
    def fog (self,cl):
        print(f"{cl}  for {self.name}")
ha=go("sfs")
ha.fog("ak")

ak  for sfs

In [7]:
class point:
    ha="correct"
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def display (self,ha):
        print(f"Point coordinates: {self.x} and {self.y}")
        print(f"{ha}")
s1=point(4,5)
s1.display(point.ha)

Point coordinates: 4 and 5
correct

https://you.com/search?q=What+does+%22s1%3Dpoint%284%2C5%29%22+achieve%3F&cid=c1_e72a4a3b-3e96-4d97-9b41-176d7c9a8f41&tbm=youchat

In [16]:
class Rectangle:
    def __init__(self,l,w):
        self.l=l
        self.w=w
    def di(self):
        print(f"area of rectangle {self.l* self.w}")
s1=int(input("enter a length"))
s2=int(input("enter a width"))
s1=Rectangle(s1,s2)
s1.di()

enter a length 5
enter a width 5

area of rectangle 25

In [18]:
class Car:
    def __init__(self,name,model,year):
        self.name=name
        self.model=model
        self.year=year
    def display (self):
        print(f"car name  {self.name } \n model name  {self.model}\n year {self.year}")
a=input("enter a car name")
b=input("enter a car model name")
c=int(input("enter a year "))
w1=Car(a,b,c)
w1.display()

enter a car name fg
enter a car model name gdf
enter a year  89

car name  fg
 model name  gdf
 year 89