In [1]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.search("^the.*spain",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")

the rain in spain
Yes ! we have a match

In [2]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.search("^the.*in",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")

the rain in spain
Yes ! we have a match

In [8]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.findall("in",tx)
print(x)

the rain in spain
['in', 'in', 'in']

In [10]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.findall("d",tx)
print(x)

the rain in spain
[]

In [11]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.findall("Portgul",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")

the rain in spain
NO match

In [3]:
import re
# check if string starts with"The " and  e
tx="the  rain in spain"
print(tx)
x=re.search(" ",tx)
print("the first white-space character is loacated in postion",x.start())

the  rain in spain
the first white-space character is loacated in postion 3

In [3]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.search(r"\s",tx)
print("the first white-space character is loacated in postion",x.start())

the rain in spain
the first white-space character is loacated in postion 3

In [8]:
import re
# check if string starts with"The " and  e
tx="the rain in spain"
print(tx)
x=re.split("\s",tx,2)
print(x)

the rain in spain
['the', 'rain', 'in spain']

In [2]:
import re

tx="the rain in spain"
print(tx)
x=re.sub("\s","@",tx)
print(x)

the rain in spain
the@rain@in@spain

In [4]:
import re

tx="the rain in spain"
print(tx)
x=re.sub("\s","@",tx,1)
print(x)

the rain in spain
the@rain in spain

In [6]:
import re

tx="the rain in spain"
print(tx)
x=re.search(r"\bs\w",tx)
print(x.span())

the rain in spain
(12, 14)

METACHARACTERS

In [2]:
import re

tx="The rain in Spain"
print(tx)
x=re.findall("[A-Z]",tx)
print(x)

The rain in Spain
['T', 'S']

In [4]:
import re

tx="The rain in Spain"
#find all lowercase characters alphabetically between a to z
# using metacharacter
print(tx)
x=re.findall("[a-z]",tx)
print(x)

The rain in Spain
['h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'p', 'a', 'i', 'n']

In [8]:
import re

tx="That will be 59 dollars"
print(tx)
x=re.findall("\d",tx)
print(x)

That will be $59 dollars
['5', '9']

special characters

In [10]:
import re

tx="hello heffo hejjo hegao planet"
print(tx)
# seach for a sequence that starts with "he ",followed by two (any) characters  and an "a"
x=re.findall("h...o",tx)
print(x)

hello heffo hejjo hegao planet
['hello', 'heffo', 'hejjo', 'hegao']

In [12]:
import re

tx="hello  planet"
print(tx)
# start with ^ string
x=re.findall("^hello",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

hello  planet
Yes ! we have a match
['hello']

In [13]:
import re

tx="hello  planet"
print(tx)
# start with ^ string
x=re.findall("planet$",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

hello  planet
Yes ! we have a match
['planet']

In [7]:
import re

tx="helldfgo  planet"
print(tx)
# start with ^ string
x=re.findall("he.*o",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

helldfgo  planet
Yes ! we have a match
['helldfgo']

In [34]:
import re

tx="hello hwo planet"
print(tx)
# start with ^ string
x=re.findall("he.+o",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

hello hwo planet
Yes ! we have a match
['hello hwo']

In [33]:
import re

tx="helo planet"
print(tx)
# start with ^ string
x=re.findall("he.?o",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

helo planet
Yes ! we have a match
['helo']

In [19]:
import re

tx="hello  planet"
print(tx)
# start with ^ string
x=re.findall("he.{2}o",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

hello  planet
Yes ! we have a match
['hello']

In [20]:
import re

tx=" The rain spain falls in river"
print(tx)

x=re.findall("he.falls|river",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

 The rain spain falls in river
Yes ! we have a match
['river']

In [38]:
import re

tx=" The rain spain falls in river"
print(tx)

x=re.findall("\A The",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

 The rain spain falls in river
Yes ! we have a match
[' The']

In [14]:
import re

tx=" The rain spain falls in river"
print(tx)

x=re.findall(r"\bain",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

 The rain spain falls in river
NO match
[]

In [14]:
import re

tx=" The ains spains falls in river"
print(tx)

x=re.findall(r"ain\B",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

 The ains spains falls in river
Yes ! we have a match
['ain', 'ain']

In [15]:
import re

tx=" The ain spains falls in river"
print(tx)

x=re.findall(r"B\ain",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

 The ain spains falls in river
NO match
[]

In [21]:
import re

tx=" The ains spains falls in river"
print(tx)

x=re.findall(r"ain\b",tx)
if x:
    print("Yes ! we have a match")
else:
    print("NO match")
print(x)

 The ains spains falls in river
NO match
[]